<footer class="footer" id="footer">
  <div class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-12 margin-bottom-20-sm">
          <div class="footer-logo-text">
            <h2 class="stream-text">make Friend</h2>
            <h3 class="sub-text">around</h3>
            <h2 class="stream-text">the World</h2>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="footer-content">
            <div class="row align-items-center">
              <div class="col">
                <a href="#" class="social-icon">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col">
                <a href="#" class="social-icon">
                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
              </div>
              <div class="col">
                <a href="#" class="social-icon">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="sub-footer-content">
      <a href="https://ngocquyhoang.com/" target="_blank">@ngocquyhoang.com</a>
    </div>    
  </div>
</footer>
