<li class="status-item">
  <div class="table-panel">
    <div class="table-child status-avatar-box ver-top">
      <div class="status-user-avatar">
        <%= avatar_for status_target.user %>
      </div>
    </div>
    <div class="table-child ver-top">
      <div class="status-user-content">
        <p><%= status_target.status %></p>
      </div>
    </div>
  </div>
</li>
