<div class="user-screen">
  <div id="parallaxBackground" class="mouse-parallax-bg"></div>
  <div class="user-content">
    <div class="container">
      <div class="row height-100vh align-items-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-8 col-xs-12">
              <div class="user-main-block">
                <div class="user-header">
                  <h1 class="main-text-logo text-center header-font">Thanks you</h1>
                </div>
                <div class="user-block-note">
                  If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes.
                </div>
                <% unless user_signed_in? %>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-light btn-lg btn-block btn-margin-sm-bottom" %>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light btn-lg btn-block" %>
                    </div>
                  </div>
                <% end %>
                <%= link_to "Go to Home", root_path, class: "btn btn-outline-light btn-lg btn-block margin-top-20" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
