.section-dashboard {
  margin-bottom: 30px;
  
  .section-header {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .section-body {

    .wall-list {
      margin-bottom: 0px;
      list-style: none;
      padding-left: 0px;

      .wall-item { 
        margin-bottom: 20px;

        .activity-item {
          line-height: 36px;
          margin-bottom: 10px;
        }

        .activity-item:last-child {
          margin-bottom: 0px;
        }

        .activity-time {
          font-style: italic;
          width: 125px;
        }
      }

      .status-item {
        margin-bottom: 22px;

        .modal {
          font-size: 16px;

          .modal-title {
            text-transform: uppercase;
            font-family: 'Jura', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 22px;
          }

          .modal-dialog {
            margin-top: 150px;
          }

          .btn {
            font-family: 'Jura', sans-serif;
            font-size: 18px;
            line-height: 20px;
            text-transform: uppercase;
          }
        }

        .delete-status {
          border: 0px;
          background-color: #000000;
          padding: 2px 10px;
          border-radius: 16px;
          color: #ffffff;
          display: inline;
          font-style: italic;
          font-size: 14px;
          line-height: 16px;
          font-family: 'Jura', sans-serif;
          margin-left: 10px;

          .fa {
            color: #ffffff;
            font-size: 12px;
            line-height: 12px;
            margin-left: 5px;
          }
        }
        
        .status-avatar-box {
          width: 100px;

          .status-user-avatar {
            padding-right: 10px;

            img {
              border-radius: 50px;
              max-width: 100%;
            }
          }
        }

        .status-user-content {
          padding: 12px;
          border: 1px solid #C63D0F;
          border-radius: 5px;

          p {
            margin-bottom: 0px;
            font-style: 18px;
            line-height: 20px;
            font-family: 'Jura', sans-serif;
            text-align: left;
          }
        }

        .status-time {
          margin-bottom: 5px;
          text-align: left;
          font-style: italic;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}
