<div style=" margin: 30px 0px 0px 0px; text-align: center; font-family: Arial,Helvetica,sans-serif;" >
  <div>
    <%= link_to root_url do %>
      <img src="https://res.cloudinary.com/ngocquyhoang/image/upload/v1507461176/main-logo_ygnste.png" style="max-width: 550px;">
    <% end %> 
  </div>
  <div>
    <h3 style="font-size: 35px; color: #007bff; margin-top: 30px; margin-bottom: 20px; font-weight: normal;">
      Unlock your account
    </h3>
    <p style="font-size: 18px; line-height: 20px">Hello <span style="color: #28a745; font-size: 20px; font-weight: bold;"><%= @resource.email %></span></p>

    <p style="font-size: 18px; line-height: 20px">Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>
    <p style="font-size: 18px; line-height: 20px">Please click the link below to unlock your account.</p>

    <div style="display: inline-block; margin-top: 20px;">
      <%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token), {:style=>'display: block; padding: 15px 20px; background-color: #ffffff; color: #007bff; text-decoration: none; font-size: 20px; line-height: 24px; border-radius: 3px; border: 1px solid #007bff; text-transform: uppercase;'} %>
    </div>
    <div>
      <p style="font-size: 16px; line-height: 20px; font-style: italic;">Your account will auto unlock after <span style="color: #dc3545; font-size: 18px">6 hours</span>.</p>
      <p style="font-size: 16px; line-height: 20px; font-style: italic;"> After 6 hours later you can access to your account </p>
    </div>
  </div>

  <div style=" width: 100%; margin-top: 100px; padding: 15px 0px; background-color: #ffc107; ">
    <div style="display: table; width: 100%;">
      <div style="display: table-cell;">
        <%= link_to "make Friend around the World", root_url, { :style => 'font-size: 18px; color: #ffffff; display: block; line-height: 20px; text-decoration: none;' } %>
      </div>
      <div style="display: table-cell;">
        <a href="https://ngocquyhoang.com" style="font-size: 18px; color: #ffffff; display: block; line-height: 20px; text-decoration: none;">
          @ngocquyhoang
        </a>
      </div>
    </div>
  </div>
</div>
